# LangChain libraries
langchain
langchain-community
langchain-google-vertexai
langchain-ollama
langchain-openai

# Google Cloud AI Platform
google-cloud-aiplatform

# OpenAI library
openai

# FAISS library for vector search
faiss-cpu

# Additional libraries
networkx
openpyxl
pandas
pypdf
python-dotenv
rich
pymupdf

# Unstructured library with version constraint
unstructured>=0.6.7